p {
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 10px;
    line-height: 16pt;
}

div {
    font-family: "Arial";
    font-size: 13pt;
    line-height: 14pt;
}

div.csl-bib-body {
    text-indent: -1.5cm;
    padding-left: 1.5cm;
}
.signature {
    margin-bottom: 20px;
}

div.org-src-container {
    margin-top: 10px;
}

a.reply-header {
    color: black;
    text-decoration: none;
}

div.reply-header {
    padding: 3.0pt 0in 0in 0in;
    border-top: solid black 1.0pt;
    margin-bottom: 20px;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Arial";
    border-collapse: collapse;
    border-style: hidden;
}

.t-above {
    caption-side: top;
}

.t-bottom {
    margin-top: 7px;
    caption-side: bottom;
}

caption.t-above {
    caption-side: top;
}

caption.t-bottom {
    text-align: center;
    caption-side: bottom;
}

td {
    font-family: "Arial";
    font-size: 13pt;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9f9f9;
    border: 1px solid black;
}

tr {
    font-family: "Arial";
    font-size: 13pt;
    vertical-align: top;
    color: black;
    border: 1px solid black;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

th {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black !important;
    padding-left: 10px;
    padding-right: 10px;
}

del {
    color: black;
    border-left: none;
    text-decoration: line-through;
    margin-bottom: 0px;
    margin-top: 10px;
    line-height: 12pt;
}

.underline {
    text-decoration: underline;
}
span.underline {
    text-decoration: underline;
}

kbd {
    font-family:Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 0px 0.1em;
    padding: 0.1em 0.6em;
    border-radius: 3px;
    border: 1px solid black;
    color: white;
    line-height: 1.4;
    font-family: Arial
                 font-size: 12px;
    display: inline-block;
    background-color: gray;
}

code {
    font-size: 10pt;
    font-family: monospace;
    background: #f9f9f9;
}

pre.src-emacs-lisp  {
    background-color: blue;
    color: red;
}

src.src-emacs-lisp  {
    background-color: blue;
    color: red;
}

pre {
    display: inline-block;
    resize: both;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 12pt;
    color: black;
    background-color: #D8D8D8;
    font-size: 9pt;
    font-family: monospace;
    margin: 10px;
    border: 2px solid black;
    width: auto;
}

.org-keyword {
    color: #A25100;
}

.org-function-name {
    color: #009319;
    font-weight: bold;
}

.org-string {
    color: #A77D00;
}

.org-doc {
    color: #71006F;
}

li {
    line-height: 16pt;
    margin-bottom: 2px;
    margin-top: 2px;
}

dt {
    font-weight: bold;
}

.org-ul {
    list-style-type: square;
}

ol ol {
    list-style-type: lower-alpha;
}

div.outline-text-4 {
    margin-left: 15px;
}

div.outline-4 {
    margin-left: 10px;
}

h4 {
    color: black;
    font-style: bold;
    font-size: 12pt;
    margin-bottom: 0px;
}

h3 {
    color: black;
    font-style: bold;
    font-size: 13pt;
    margin-bottom: 0px;
    font-size: 12pt;
}

h2 {
    color: black;
    font-style: bold;
    font-size: 16pt;
}

h1 {
    color: black;
    font-style: bold;
    font-size: 15pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linenr {
    padding-right: 1em;
    color: black;
    background-color: #aaaaaa;
}

.figure-number {
    color: #6A6A6A;
    font-weight: bold;
    text-align: left;
}

caption {
    text-align: left;
    font-weight: bold;
}

.listing-number {
    color: #6A6A6A;
    font-weight: bold;
    text-align: left;
}

.figure {
    color: #6A6A6A;
    font-weight: bold;
    text-align: left;
}

.org-src-name {
    color: #6A6A6A;
    font-weight: bold;
    text-align: left;
}

blockquote.quote0 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    background: #f9f9f9;
    border-left: 3px solid #ccc;
}

blockquote.quote1 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #324e72;
    border-left: 3px solid #6565ff;
}

blockquote.quote2 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #6a3a4c;
    border-left: 3px solid #ff6565;
}

blockquote.quote3 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #7a4900;
    border-left: 3px solid #ff6565;
}

blockquote.quote4 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #ff34ff;
    border-left: 3px solid #ff65fe;
}

blockquote.quote5 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #ff4a46;
    border-left: 3px solid #ff6565;
}

blockquote.quote6 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #008941;
    border-left: 3px solid #65ff65;
}

blockquote.quote7 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #006fa6;
    border-left: 3px solid #6565ff;
}

blockquote.quote8 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #a30059;
    border-left: 3px solid #ff6565;
}

blockquote.quote9 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #ffdbe5;
    border-left: 3px solid #ffffff;
}

blockquote.quote10 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #000000;
    border-left: 3px solid #333333;
}

blockquote.quote11 {
    padding-left : 5px;
    margin-left: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #0000a6;
    border-left: 3px solid #6565ff;
}

blockquote.quote12 {
    padding-left : 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    background: #f9f9f9;
    color: #63ffac;
    border-left: 3px solid #65feff;
}
